@font-face {
  font-family: "europa-regular";
  src: url(../public/assets/fonts/europa-regular-webfont.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "montserrat-regular";
  src: url(../public/assets/fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: 300;
}

body {
  background-color: #F0F0F0; /* Set the background color */
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
    url('../public/assets/images/background_img.svg'); /* Corrected the path */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: "europa-regular", monospace;
}


